[flake8]
ignore =
    # line break before binary operator
    W503
    # multiple statements on one line (colon)
    E701
per-file-ignores =
    fittrackee/activities/stats.py:E501
    fittrackee/application/app_config.py:E501
    fittrackee/tests/test_email.py:E501
    fittrackee/tests/test_email_template_password_request.py:E501
exclude = fittrackee/migrations
