export REACT_APP_API_URL = https://$(HOST):$(API_PORT)
export REACT_APP_THUNDERFOREST_API_KEY=
export REACT_APP_GPX_LIMIT_IMPORT=10
export REACT_APP_MAX_SINGLE_FILE_SIZE=1048576
export REACT_APP_MAX_ZIP_FILE_SIZE=10485760
export REACT_APP_ALLOW_REGISTRATION=true
export WEATHER_API=

# for dev env
export CODACY_PROJECT_TOKEN=
