# dramatiq (task queue)
WORKERS_PROCESSES = 1

export DATABASE_URL = postgres://fittrackee:fittrackee@$(HOST):5432/fittrackee
export DATABASE_TEST_URL = postgres://fittrackee:fittrackee@$(HOST):5432/fittrackee_test
export APP_SETTINGS=fittrackee.config.DevelopmentConfig
export APP_LOG=fittrackee.log
export DATABASE_DISABLE_POOLING=True
export TILE_SERVER_URL=
export MAP_ATTRIBUTION=
export WEATHER_API=
export UI_URL=
export EMAIL_URL=
export SENDER_EMAIL=
export REDIS_URL=
export UPLOAD_FOLDER=

# for dev env
export REACT_APP_API_URL=
