export REACT_APP_API_URL = http://$(HOST):$(API_PORT)
export REACT_APP_THUNDERFOREST_API_KEY=
export REACT_APP_GPX_LIMIT_IMPORT=10
export WEATHER_API=
export FT_ALLOW_REGISTRATION=true

# for dev env
export CODACY_PROJECT_TOKEN=
