[tool.poetry]
name = "fittrackee"
version = "0.9.2"
description = "Self-hosted outdoor workout/activity tracker"
authors = ["SamR1"]
license = "AGPL-3.0-only"
readme = "README.md"
homepage = "https://github.com/SamR1/FitTrackee"
documentation = "https://docs.fittrackee.org"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: Flask",
    "License :: OSI Approved :: GNU Affero General Public License v3",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: JavaScript"
]
exclude = ["fittrackee/tests"]

[tool.poetry.urls]
Issues = "https://github.com/SamR1/FitTrackee/issues"
Changelog = "https://docs.fittrackee.org/en/changelog.html"
"Release Notes" = "https://github.com/SamR1/FitTrackee/releases"

[tool.poetry.dependencies]
python = "^3.9.2"
authlib = "=1.4.1"
babel = "^2.11.0"
click = "^8.1.7"
dramatiq = {version = "^1.15.0", extras = ["redis"]}
flask = "^3.1.0"
flask-bcrypt = "^1.0.1"
flask-dramatiq = "^0.6.0"
flask-limiter = {version = "^3.10.1", extras = ["redis"]}
flask-migrate = "4.1.0"
flask-sqlalchemy = "3.1.1"
gpxpy = "=1.6.2"
gunicorn = "^23.0.0"
humanize = "^4.11.0"
jsonschema = "^4.23.0"
nh3 = "^0.2.20"
psycopg2-binary = "^2.9.10"
pycryptodome = "^3.15"
pyjwt = "^2.10.1"
pyopenssl = "^25.0.0"
pytz = "^2025.1"
shortuuid = "^1.0.13"
staticmap = "^0.5.7"
sqlalchemy = "=2.0.38"
ua-parser = "^1.0.0"

[tool.poetry.group.dev.dependencies]
bandit = "^1.8.2"
furo = "^2024.8.6"
mypy = "^1.15.0"
pytest = "^8.3.4"
pytest-cov = "^6.0.0"
pytest-html = "^4.1.1"
pytest-runner = "^6.0.1"
pytest-selenium = "^4.1.0"
pytest-xdist = {extras = ["psutil"], version = "^3.6.0"}
recommonmark = "^0.7.1"
ruff = "^0.9.6"
selenium = "^4.28.1"
sphinx = "^7.4.7"
sphinx-copybutton = "^0.5.2"
sphinx-intl = "^2.3.1"
sphinxcontrib-httpdomain = "^1.8.1"
time-machine = "^2.16.0"
types-freezegun = "^1.1"
types-pytz = "^2025.1"
types-redis = "^4.6"
types-requests = "^2.32"

[tool.poetry.scripts]
fittrackee = 'fittrackee.__main__:main'
ftcli = 'fittrackee.cli:cli'

[tool.ruff]
line-length = 79
exclude = ["fittrackee/migrations/*"]

[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # isort
    "I",
    # flake8-builtins
    "A",
    # flake8-type-checking
    "TC",
    # flake8-datetimez
    "DTZ",
    # flake8-print
    "T20",
    # flake8-bugbear
    "B",
    # Ruff-specific rules
    "RUF",
]
ignore = ["RUF012"]

[tool.ruff.format]
quote-style = "double"

[tool.ruff.lint.per-file-ignores]
"fittrackee/activities/stats.py" = ["E501"]
"fittrackee/application/app_config.py" = ["E501"]
"fittrackee/tests/test_email.py" = ["E501"]
"fittrackee/tests/test_email_template_password_request.py" = ["E501"]
"fittrackee/federation/objects/templates/workout_note.py" = ["E501"]
"fittrackee/tests/federation/federation/test_federation_objects_workout.py" = ["E501"]

[tool.pytest.ini_options]
markers = [
    "disable_autouse_generate_keys: disable patch for keys generation",
    "disable_autouse_update_records_patch: disable records update",
]

[tool.bandit]
exclude_dirs = ["fittrackee/tests/*", "fittrackee/migrations/*"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
