[tool.poetry]
name = "fittrackee"
version = "0.6.2"
description = "Self-hosted outdoor workout/activity tracker"
authors = ["SamR1"]
license = "AGPL-3.0"
readme = "README.md"
homepage = "https://github.com/SamR1/FitTrackee"
documentation = "https://samr1.github.io/FitTrackee"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: Flask",
    "License :: OSI Approved :: GNU Affero General Public License v3",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: JavaScript"
]
exclude = ["fittrackee/tests"]

[tool.poetry.dependencies]
python = "^3.7"
dramatiq = {version = "^1.13", extras = ["redis"]}
flask = "^2.1"
flask-bcrypt = "^1.0"
flask-dramatiq = "^0.6.0"
flask-migrate = "^3.1"
gpxpy = "=1.3.4"
gunicorn = "^20.1"
humanize = "^4.0"
psycopg2-binary = "^2.9"
pyjwt = "^2.3"
python-forecastio = "^1.4"
pytz = "^2022.1"
shortuuid = "^1.0.8"
staticmap = "^0.5.4"
SQLAlchemy = "1.4.32"
pyOpenSSL = "^22.0"
ua-parser = "^0.10.0"

[tool.poetry.dev-dependencies]
black = "^22.3"
freezegun = "^1.2"
mypy = "^0.942"
pytest = "^7.1"
pytest-black = "^0.3.12"
pytest-cov = "^3.0"
pytest-flake8 = "^1.1"
pytest-isort = "^3.0"
pytest-runner = "^6.0"
pytest-selenium = "^2.0.1"
recommonmark = "^0.7"
sphinx-bootstrap-theme = "^0.8.1"
sphinxcontrib-httpdomain = "^1.7"
types-pytz = "^2021.3"
types-requests = "^2.27"
types-freezegun = "^1.1"
Sphinx = "^4.5"

[tool.poetry.scripts]
fittrackee = 'fittrackee.__main__:main'
fittrackee_set_admin = 'fittrackee.users.users:set_admin'
fittrackee_upgrade_db = 'fittrackee.__main__:upgrade_db'
fittrackee_worker = 'flask_dramatiq:worker'

[tool.black]
line-length = 79
skip-string-normalization = true
target-version = ["py37", "py38"]
include = ".py$"
exclude = "migrations"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
combine_as_imports = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
