html {
  height: 100vh;
}

body {
  background-color: #eaeaea;
  margin: 0;
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative;
  }

.App {
  padding-bottom: 20px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-nav-profile-img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

.App-profile-img-small {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  color: #40578a;
}

input[type="text"], textarea {
  width: 100%;
}

label {
  width: 100%;
}

.activities-result {
  font-size: 0.85em;
}

.activity-card {
  margin-bottom: 15px;
}

.activity-details {
  font-size: 0.95em;
}
.activity-date {
  font-size: 0.75em;
}

.activity-filter {
  font-size: 0.9em;
}

.activity-filter .col-2, .col-5{
  padding: 0;
}

.activity-label {
  font-size: 0.8em;
  color: #666
}

.activity-logo {
  margin: 0 5px;
  max-width: 20px;
  max-height: 20px;
}

.activity-no-map {
  background-color: #eaeaea;
  color: #666666;
  font-style: italic;
  height: 400px;
  line-height: 400px;
}

.activity-notes, .actvitiy-segments {
  font-size: 0.9em;
  font-style: italic;
  margin-top: 10px;
  padding: 5px;
}

.activity-page {
  margin-top: 20px;
}

.activity-segments-list {
  list-style: square;
}

.activity-sport {
  margin-right: 1px;
  max-width: 18px;
  max-height: 18px;
}

.activity-title img, .activity-title .map-attribution   {
  display: none;
}

.activity-title:hover img {
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display:block;
  margin-left: 10px;
  position: absolute;
  z-index: 1000;
}

.activity-title:hover .map-attribution {
  display:block;
  font-size: 11px;
  left: -130px;
  position:relative;
  top: 0;
  z-index: 1000;
}

.add-activity {
  margin-top: 50px;
}

.add-activity-radio {
  margin-right: 10px;
}

.admin-img {
  max-width: 35px;
  max-height: 35px;
}

.card {
  text-align: left;
}

.chart {
  font-size: 0.9em;
}

.chart-activities {
  margin-left: 60px;
}

.chart-arrows {
  margin-top: 7px;
}

.chart-filters {
  padding-bottom: 10px;
}

.chart-info {
  font-size: 0.8em;
  font-style: italic;
}

.chart-radio {
  display: flex;
  font-size: 0.9em;
}

.chart-radio label {
  /* display: flex; */
}

.chart-radio input {
  margin-right: 10px;
}

.chart-stats {
  font-size: 0.8em;
}

.chart-title {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.col-activity-logo{
  padding-right: 0;
}

.custom-modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  margin: 20% auto;
  z-index: 1250;
}

.custom-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 1240;
}

.custom-fa {
  margin-right: 5px;
}

.custom-fa-small {
  font-size: 0.8em;
}

.custom-tooltip {
  background-color: #fff;
  border: 1px solid lightgrey;
  padding: 10px;
}

.custom-tooltip p {
  margin: 5px;
}

.custom-tooltip-label {
  font-weight: bold;
}

.dashboard, .history {
  margin-top: 30px;
}

.fa-question-circle {
  color: #6c757d;
  margin-left: 3px;
}

.fa-trophy {
  color: goldenrod;
}

.fa-color {
  color: #405976;
}

.footer {
  background-color: #f8f9fa;
  bottom: 0;
  color: #8b8c8c;
  font-size: 0.9em;
  height: 50px;
  line-height: 50px;
  position: absolute;
  width: 100%;
}

.gpx-file {
  height: inherit;
}

.huge {
  font-size: 25px;
}

.inactive-link {
  color: lightgrey;
}

.img-disabled {
  opacity: .4;
}

.leaflet-container {
  height: 400px;
}

.loader {
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  height: 120px;
  margin-left: 41%;
  width: 120px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.map-attribution {
  font-size: 11px;
  position:relative;
  top: -15px;
}

.map-attribution-text {
  background-color: rgba(255, 255, 255, .5);
  padding-left: 2px;
  padding-right: 2px;
}

.page-title {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.radioLabel {
  text-align: center;
}

.record-logo {
  margin-right: 5px;
  max-width: 25px;
  max-height: 25px;
}

.record-table table, .record-table th, .record-table td{
  font-size: 0.9em;
  padding: 0.1em;
}

.sport-img {
  max-width: 35px;
  max-height: 35px;
}

.sport-img-medium {
  max-width: 45px;
  max-height: 45px;
}

.time-frames {
  align-items: center;
  display: inline-flex;
}

.time-frame label {
  float: left;
  padding: 0 5px;
  width: 4em;
}

.time-frame label input {
  display: none;
}

.time-frame label span {
  border: #a9a9a9 solid 1px;
  border-radius: 9%;
  color: #7b7b7b;
  display: block;
  font-size: 0.9em;
  padding: 2px 0;
  text-align: center;
}

.time-frame input:checked + span {
  background-color: #a9a9a9;
  color: #ffffff;
}

.timezone-custom-height {
  height: calc(2.25rem + 14px);
}

.timezone-picker {
  padding: 0;
}

.timezone-picker-textfield {
  font-size: 15px;
}

.unlink {
  color: black;
}

.weather-img {
  max-width: 35px;
  max-height: 35px;
}

.weather-img-small {
  max-width: 20px;
  max-height: 20px;
}

.weather-table {
  margin-bottom: 0;
}

.weather-table table, .weather-table th, .weather-table td{
  font-size: 0.9em;
  padding: 0.1em;
}

/* calendar */
:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

.calendar .col-start {
  justify-content: flex-start;
  text-align: left;
}

.calendar .col-center {
  justify-content: center;
  text-align: center;
}

.calendar .col-end {
  justify-content: flex-end;
  text-align: right;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  /*font-size: 115%;*/
  padding: 0.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 3em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  background: var(--neutral-color);
}

.calendar .body .cell:hover {
  background: var(--bg-color);
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
  margin: 0;
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}
