.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-nav-profile-img {
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
}

.App-profile-img-small {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  text-align: left;
}

label {
  width: 100%;
}

input, textarea {
  width: 100%;
}

.page-title {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.add-activity {
  margin-top: 50px;
}

.leaflet-container {
  height: 240px;
}

.radioLabel {
  text-align: center;
}
