.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-nav-profile-img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

.App-profile-img-small {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  text-align: left;
}

label {
  width: 100%;
}

input, textarea {
  width: 100%;
}

.page-title {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.activity-card {
  margin-bottom: 15px;
}

.add-activity {
  margin-top: 50px;
}

.leaflet-container {
  height: 240px;
}

.radioLabel {
  text-align: center;
}

.custom-modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  margin: 20% auto;
  z-index: 1050;
}

.custom-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 1040;
}

.custom-fa {
  margin-right: 5px;
}

.unlink {
  color: black;
}
