.App {
  background-color: #eaeaea;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-nav-profile-img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

.App-profile-img-small {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  text-align: left;
}

label {
  width: 100%;
}

input, textarea {
  width: 100%;
}

.page-title {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.activity-card {
  margin-bottom: 15px;
}

.activity-date {
  font-size: 0.75em;
}

.activity-page {
  margin-top: 20px;
}

.activity-sport {
  margin-right: 1px;
  max-width: 20px;
  max-height: 20px;
}

.add-activity {
  margin-top: 50px;
}

.admin-img {
  max-width: 35px;
  max-height: 35px;
}

.col-activity-logo{
  padding-right: 0;
}

.fa-trophy {
  color: goldenrod;
}

.leaflet-container {
  height: 400px;
}

.radioLabel {
  text-align: center;
}

.chart {
  font-size: 0.9em;
}

.chart-info {
  font-size: 0.8em;
  font-style: italic;
}

.chart-radio {
  display: flex;
  font-size: 0.8em;
}

.chart-radio label {
  display: flex;
}

.chart-radio input {
  margin-right: 10px;
}

.chart-title {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.custom-modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  margin: 20% auto;
  z-index: 1250;
}

.custom-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 1240;
}

.custom-fa {
  margin-right: 5px;
}

.dashboard {
  margin-top: 30px;
}

.sport-img {
  max-width: 35px;
  max-height: 35px;
}

.inactive-link {
  color: lightgrey;
}

.record-logo {
  margin-right: 5px;
  max-width: 25px;
  max-height: 25px;
}

.record-table table, .record-table th, .record-table td{
  font-size: 0.9em;
  padding: 0.1em;
}

.sport-img-medium {
  max-width: 45px;
  max-height: 45px;
}
.unlink {
  color: black;
}

.loader {
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  height: 120px;
  margin-left: 41%;
  width: 120px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* calendar */
:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

.calendar .col-start {
  justify-content: flex-start;
  text-align: left;
}

.calendar .col-center {
  justify-content: center;
  text-align: center;
}

.calendar .col-end {
  justify-content: flex-end;
  text-align: right;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  /*font-size: 115%;*/
  padding: 0.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 3em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
}

.calendar .body .cell:hover {
  background: var(--bg-color);
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
  margin: 0;
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}
