/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('fonts/lato-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v15-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lato-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('fonts/lato-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v15-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/lato-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('fonts/lato-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v15-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}


html {
  font-family: "Lato", sans-serif;
  height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  padding-bottom: 65px;
  position: relative;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #dca7a7;
    color: #a94442;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #9acfea;
    color: #31708f;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #f5e79e;
    color: #8a6d3b;
}

.descname {
    border-top: solid 3px #a18bac;
    border-radius: unset;
    padding: 6px;
}

dl.field-list > dt {
    background: #f0f0f0;
    border-left: solid 3px #ccc;
    color: #555;
}

.envvar {
    margin-top: 30px;
}

.footer {
  bottom: 0;
  height: 65px;
  position: absolute;
}


img {
  border: 1px solid #cecdcd;
  margin: 5px 0;
}