@import 'colors';
@import 'fonts';
@import 'vars';

body {
  margin: 0;
}

#app {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--app-color);

  background-color: var(--app-background-color);

  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--app-a-color);
  text-decoration: none;
}

button {
  background: var(--app-background-color);
  border: solid 1px var(--app-color);
  border-radius: 0;
  box-shadow: 2px 2px 2px var(--app-shadow-color);
  color: var(--app-color);
  padding: 6px 14px;

  &:hover {
    background: var(--app-color);
    color: #FFFFFF;
  }

  &:active {
    box-shadow: 2px 0 2px var(--app-shadow-color);
    transform: translateY(2px);
  }
}

.upper {
  text-transform: uppercase;
}