@import 'colors';
@import 'fonts';
@import 'vars';

body {
  margin: 0;
}

#app {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--app-color);

  background-color: var(--app-background-color);

  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--app-a-color);
  text-decoration: none;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: $container-width;
  width: 100%;
}