:root {
  --app-background-color: #ffffff;
  --app-color: #2c3e50;
  --app-color-light: #6f7070;
  --app-color-lighter: #959ea7;
  --app-a-color: #40578a;
  --app-a-text-decoration-color: #d2d2d2;
  --app-shadow-color: lightgrey;
  --app-loading-color: #f3f3f3;
  --app-loading-top-color: var(--app-color);

  --button-hover-color: #ffffff;
  --button-transparent-hover-color: var(--app-color);
  --button-cancel-bg-color: #ffffff;
  --button-cancel-color: var(--app-color);
  --button-confirm-bg-color: #ffffff;
  --button-confirm-color: var(--app-color);
  --button-danger-bg-color: #ffffff;
  --button-danger-color: #dc3545;
  --button-danger-hover-bg-color: #dc3545;
  --button-danger-hover-color: #ffffff;

  --card-border-color: #c4c7cf;
  --input-border-color: #9da3af;
  --input-bg-color: #ffffff;
  --input-color: var(--app-color);
  --input-error-color: #dc3545;
  --dropdown-hover-color: #eff0f5;
  --dropdown-background-color: #ffffff;
  --dropdown-border-color: lightgrey;
  --policy-border-color: #ccc;
  --policy-link-color: var(--app-a-color);
  --box-shadow-color: lightgrey;
  --admin-disabled-input-color: #ffffff;

  --multiselect-tags-bg-color: #ffffff;
  --multiselect-tag-bg-color: #e5e7ea;
  --multiselect-tag-color: var(--app-color);
  --multiselect-tag-icon-hover-bg-color: #647088;
  --multiselect-tag-icon-hover-color: #ffffff;
  --multiselect-option-bg-color: #ffffff;
  --multiselect-option-color: var(--app-color);
  --multiselect-option-highlight-bg-color: #9fa2af;
  --multiselect-option-highlight-color: #ffffff;
  --multiselect-option-selected-highlight-bg-color: #ff6a6a;
  --multiselect-option-selected-highlight-color: #fff;
  --multiselect-option-selected-highlight-after-bg-color: #ff6a6a;
  --multiselect-option-selected-highlight-after-color: #fff;
  --multiselect-option-selected-bg-color: #f3f3f3;
  --multiselect-option-selected-color: #35495e;
  --multiselect-content-wrapper-border-color: var(--input-border-color);
  --multiselect-disabled-bg-color: transparent;
  --multiselect-select-disabled-bg-color: transparent;
  --multiselect-select-disabled-color: #a6a6a6;

  --custom-checkbox-border-color: #6d797a;
  --custom-checkbox-checked-bg-color: #6d797a;
  --custom-checkbox-checked-color: #ffffff;

  --calendar-border-color: #c4c7cf;
  --calendar-week-end-color: #f5f5f5;
  --calendar-day-color: var(--app-color-light);
  --calendar-today-color: #eff1f3;
  --calendar-workouts-color: whitesmoke;
  --calendar-workouts-box-shadow-0: rgba(0, 0, 0, 0.2);
  --calendar-workouts-box-shadow-1: rgba(0, 0, 0, 0.19);

  --modal-background-color: rgba(0, 0, 0, 0.3);

  --nav-bar-background-color: #ffffff;
  --nav-bar-link-active: #485b6e;
  --nav-border-color: #c5ccdb;

  --mobile-menu-selected-color: #ffffff;
  --mobile-menu-selected-bgcolor: #9da3af;

  --footer-background-color: #ffffff;
  --footer-border-color: #ebeef3;
  --footer-color: #6f7070;

  --form-info: var(--alert-color);

  --alert-background-color: #d6dde3;
  --alert-color: #3f3f3f;
  --info-background-color: #e5e7ea;
  --info-color: var(--app-color);
  --error-background-color: #ffd2d2;
  --error-color: #db1924;
  --success-background-color: #d9ecd9;
  --success-color: #306430;

  --disabled-background-color: #e0e0e0;
  --disabled-border-color: transparent;
  --disabled-color: #727272;
  --disabled-sport-color: #616161;

  --scroll-button-bg-color: rgba(255, 255, 255, 0.7);

  --workout-trophy-color: #daa520;
  --workout-img-color: invert(22%) sepia(25%) saturate(646%) hue-rotate(169deg)
    brightness(97%) contrast(96%);
  --workout-no-map-bg-color: #eaeaea;
  --workout-no-map-color: #585959;
  --map-control-color: #000000;
  --map-control-bg-color: #ffffff;
  --map-control-border-color: #bfc0ab;
  --map-control-hover-bg-color: var(--dropdown-hover-color);
  --map-attribution-text: var(--app-color);
  --map-display-hover-attribution-text: initial;
  --map-attribution-bg-color: rgba(255, 255, 255, 0.7);
  --map-filter: initial;
  --map-display-hover-filter: initial;
  --map-layers-overlays: initial;
  --map-control-bar: #bfc0ab;
  --no-map-filter: initial;
  --workout-static-map-shadow-color: var(--app-shadow-color);
  --workout-static-map-bg-color: var(--workout-no-map-bg-color);

  --icon-svg-filter: invert(19%) sepia(9%) saturate(2921%) hue-rotate(169deg)
    brightness(85%) contrast(80%);

  --cell-heading-bg-color: #eeeeee;
  --cell-heading-color: #696969;

  --svg-filter: drop-shadow(10px 10px 10px var(--app-shadow-color));

  --password-bg-color: #d7dadf;
  --password-color-weak: #e46d6e;
  --password-color-medium: #f8bc4a;
  --password-color-good: #acc578;
  --password-color-strong: #57c255;

  --scroll-thumb-color: #949697;

  --text-background-color: rgb(114, 114, 114, 0.1);
  --text-visibilty: rgba(37, 37, 37, 0.65);

  --comment-border-color: #d5d7de;
  --comment-background: #fff;
  --comment-background-highlight: linear-gradient(to right, #eef1f4, #f3f7fa);

  --user-suggestion-background: #fff;

  --like-color: #ee2222;
}
