:root {
  --app-background-color: #ffffff;
  --app-color: #2c3e50;
  --app-color-light: #6f7070;
  --app-a-color: #40578a;
  --app-shadow-color: lightgrey;
  --app-loading-color: #f3f3f3;
  --app-loading-top-color: var(--app-color);

  --button-hover-color: #ffffff;
  --button-transparent-hover-color: var(--app-color);
  --button-cancel-bg-color: #ffffff;
  --button-cancel-color: var(--app-color);
  --button-confirm-bg-color: #ffffff;
  --button-confirm-color: var(--app-color);
  --button-danger-bg-color: #ffffff;
  --button-danger-color: #dc3545;
  --button-danger-hover-bg-color: #dc3545;
  --button-danger-hover-color: #ffffff;

  --card-border-color: #c4c7cf;
  --input-border-color: #9da3af;
  --input-bg-color: #ffffff;
  --input-color: var(--app-color);
  --input-error-color: #dc3545;
  --dropdown-hover-color: #eff0f5;
  --dropdown-background-color: #ffffff;
  --dropdown-border-color: lightgrey;
  --policy-border-color: #ccc;
  --box-shadow-color: lightgrey;
  --admin-disabled-input-color: #ffffff;

  --custom-checkbox-border-color: #6d797a;
  --custom-checkbox-checked-bg-color: #6d797a;
  --custom-checkbox-checked-color: #ffffff;

  --calendar-border-color: #c4c7cf;
  --calendar-week-end-color: #f5f5f5;
  --calendar-day-color: var(--app-color-light);
  --calendar-today-color: #eff1f3;
  --calendar-workouts-color: whitesmoke;
  --calendar-workouts-box-shadow-0: rgba(0, 0, 0, 0.2);
  --calendar-workouts-box-shadow-1: rgba(0, 0, 0, 0.19);

  --modal-background-color: rgba(0, 0, 0, 0.3);

  --nav-bar-background-color: #ffffff;
  --nav-bar-link-active: #485b6e;
  --nav-border-color: #c5ccdb;

  --mobile-menu-selected-color: #ffffff;
  --mobile-menu-selected-bgcolor: #9da3af;

  --footer-background-color: #ffffff;
  --footer-border-color: #ebeef3;
  --footer-color: #6f7070;

  --form-info: var(--alert-color);

  --alert-background-color: #d6dde3;
  --alert-color: #3f3f3f;
  --info-background-color: #e5e7ea;
  --info-color: var(--app-color);
  --error-background-color: #ffd2d2;
  --error-color: #db1924;
  --success-background-color: #d9ecd9;
  --success-color: #306430;

  --disabled-background-color: #e0e0e0;
  --disabled-border-color: transparent;
  --disabled-color: #727272;
  --disabled-sport-color: #616161;

  --scroll-button-bg-color: rgba(255, 255, 255, 0.7);

  --workout-trophy-color: #daa520;
  --workout-img-color: invert(22%) sepia(25%) saturate(646%) hue-rotate(169deg)
    brightness(97%) contrast(96%);
  --workout-no-map-bg-color: #eaeaea;
  --workout-no-map-color: #585959;
  --map-control-color: #000000;
  --map-control-bg-color: #ffffff;
  --map-control-border-color: #bfc0ab;
  --map-attribution-text: rgba(255, 255, 255, 0.7);

  --cell-heading-bg-color: #eeeeee;
  --cell-heading-color: #696969;

  --svg-filter: drop-shadow(10px 10px 10px var(--app-shadow-color));

  --password-bg-color: #d7dadf;
  --password-color-weak: #e46d6e;
  --password-color-medium: #f8bc4a;
  --password-color-good: #acc578;
  --password-color-strong: #57c255;

  --scroll-thumb-color: #949697;
}
