:root {
  --app-background-color: #FFFFFF;
  --app-color: #2c3e50;
  --app-a-color: #40578a;
  --app-shadow-color: lightgrey;

  --input-border-color: #9da3af;

  --nav-bar-background-color: #FFFFFF;
  --nav-bar-link-active: #485b6e;
  --nav-border-color: #c5ccdb;

  --footer-background-color: #FFFFFF;
  --footer-border-color: #ebeef3;
  --footer-color: #8b8c8c;

  --error-background-color: #ffd2d2;
  --error-color: #db1924;

}