:root {
  --app-background-color: #eaeaea;
  --app-color: #2c3e50;
  --app-a-color: #40578a;

  --nav-bar-background-color: #FFFFFF;
  --nav-bar-link-active: #485b6e;

  --footer-background-color: #FFFFFF;
  --footer-color: #8b8c8c;
}