name: Javascript CI

on:
  push:
    paths: [
      'fittrackee_client/**',
      'fittrackee/dist/**',
      '.github/workflows/.tests-javascript.yml'
    ]
  pull_request:
    paths: [
      'fittrackee_client/**',
      'fittrackee/dist/**',
      '.github/workflows/.tests-javascript.yml'
    ]
    types: [opened, synchronize, reopened]

jobs:
  javascript:
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.fork }}
    runs-on: ubuntu-latest
    env:
      working-directory: fittrackee_client
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Install yarn and dependencies
        working-directory: ${{env.working-directory}}
        run: |
          npm install --global yarn
          yarn install --frozen-lockfile --ignore-scripts
      - name: Lint
        working-directory: ${{env.working-directory}}
        run: yarn lint-check
      - name: Prettier
        working-directory: ${{env.working-directory}}
        run: yarn format-check
      - name: Type check
        working-directory: ${{env.working-directory}}
        run: yarn type-check
      - name: Tests
        working-directory: ${{env.working-directory}}
        run: yarn test:unit
      - name: Build
        working-directory: ${{env.working-directory}}
        run: yarn build

  end2end_with_sources:
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.fork }}
    name: e2e tests with sources (Node 24)
    uses: ./.github/workflows/.workflow-e2e-with-sources.yml
    with:
      node-version: "24.x"
