on:
  workflow_call:
    inputs:
      python-version:
        type: string
        default: 3.13
      postgres-version:
        type: string
        default: 17
      postgis-version:
        type: string
        default: 3.5
      node-version:
        type: string
        default: 20.x

jobs:
  end2end_with_sources:
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.fork }}
    runs-on: ubuntu-latest
    container: python:${{ inputs.python-version }}
    services:
      postgres:
        image: postgis/postgis:${{ inputs.postgres-version }}-${{ inputs.postgis-version }}-alpine
        env:
          POSTGRES_DB: fittrackee_test
          POSTGRES_USER: fittrackee
          POSTGRES_PASSWORD: fittrackee
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      selenium:
        image: selenium/standalone-firefox
      mailhog:
        image: mailhog/mailhog:latest
      redis:
        image: redis:latest
    env:
      APP_SETTINGS: fittrackee.config.End2EndTestingConfig
      DATABASE_TEST_URL: "postgresql://fittrackee:fittrackee@postgres:5432/fittrackee_test"
      EMAIL_URL: "smtp://mailhog:1025"
      REDIS_URL: "redis://redis:6379"
      FLASK_APP: fittrackee/__main__.py
      SENDER_EMAIL: fittrackee@example.com
      UI_URL: https://0.0.0.0:5000
    steps:

      - uses: actions/checkout@v4

      - name: Install Poetry and Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --quiet poetry
          poetry config virtualenvs.create false
          poetry install --no-interaction --quiet

      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version}}

      - name: Install yarn and dependencies
        working-directory: fittrackee_client
        run: |
          npm install --global yarn
          yarn install --frozen-lockfile --ignore-scripts

      - name: Build dist files
        working-directory: fittrackee_client
        run: yarn build

      - name: Run migrations
        run: flask db upgrade --directory fittrackee/migrations

      - name: Start application and run tests with Selenium
        run: |
          setsid nohup flask run --with-threads -h 0.0.0.0 -p 5000 >> nohup.out 2>&1 &
          export TEST_APP_URL=http://$(hostname --ip-address):5000
          sleep 5
          nohup dramatiq fittrackee.tasks:broker --processes=1 >> nohup.out 2>&1 &
          pytest e2e --driver Remote --capability browserName firefox --selenium-host selenium --selenium-port 4444 --maxfail=1
